# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Data (VERY IMPORTANT — don’t upload dataset)
data/

# Artifacts (models, metrics)
artifacts/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log